<body id="page-container" class="h-screen">
<nav id="nav-container" class="flex">
  <img src="/assets/logo.png" width="120">
  <div class="lg:flex flex-grow items-center">
    <ul class="flex lg:flex-row ml-auto">
        <li class="nav-item"><a class="px-3 py-2 mr-8 flex text-4xl mt-1 items-center uppercase font-bold text-white hover:opacity-75" href="/photopage">Photos</a></li>
        <li class="nav-item"><button class="mt-3 bg-indigo-500 text-white mr-5 py-2 px-6 rounded-lg" (click)="logout()">Logout</button></li>
    </ul>
  </div>
</nav>




</body>